<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% extends "pizzas/base.html" %}

    {% block content %}
    <h1>Welcome to the pizzas app</h1>

    <pre>
        Are you a fan of delicious, mouth-watering pizzas? You've come to the right place!
         At the Pizzas App, we celebrate everyone's favorite dish by letting you explore
          and customize pizzas just the way you like them.
    </pre>
    {% endblock content %}
</body>
</html>