{% extends "pizzas/base.html" %}


<head>
    <title>Pizzas</title>
</head>

<body>
    {% block page_header %}
    <h1>Pizza type</h1>
    {% endblock page_header %}

    {% block content %}
    <p></p>
    <ul>
        {% for pizza in pizzas %}
        <li>
            <h3>
                <a href="{% url 'pizzas:toppings' pizza.id %}"> {{ pizza }}</a>
            </h3>
        </li>
        {% empty %}
        <li>
            <h3>
                No pizzas available.
            </h3>
        </li>
        {% endfor %}
    </ul>
    {% endblock content %}
</body>

</html>