{% extends "pizzas/base.html" %}

<head>
    <title>{{ pizza.name }} - Topping</title>
</head>

<body>
    {% block page_header %}
    <h1>{{ pizza }}</h1>
    <h2>Toppings: </h2>
    {% endblock page_header %}

    {% block content %}
    <ul>
        {% for topping in toppings %}
        <li>
            <h3>{{ topping }}</h3>
        </li>
        {% empty %}
        <li>
            <h3>There are no toppings for this pizza yet</h3>
        </li>
        {% endfor %}
    </ul>
    {% endblock content %}
</body>

</html>