{% extends "pizzas/base.html" %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ pizza.name }} - Topping</title>
</head>
<body>
   

    {% block content %}
    <p>{{ pizza }}</p>
    <p>Toppings:</p>
    <ul>
        {% for topping in toppings %}
        <li>
            <p>{{ topping }}</p>
        </li>
        {% empty %}
        <li>There are no toppings for this pizza yet</li>
        {% endfor %}
    </ul>
    {% endblock content %}
</body>
</html>